- form_tag sessions_path do
  .field
    =label_tag 'login'
    =text_field_tag 'login', @login

  .field.password
    =link_to 'forgot password', '#'
    =label_tag 'password'
    =password_field_tag 'password', nil

  .submit
    %p
      Don't have an account? 
      =link_to "sign up!", new_user_path

    =submit_tag 'login'
