%h1
  Invite people

- form_for @night, :url => send_invitations_night_path(@night) do |f|
  %p
    %label{ :for => 'night[invitation_emails]' }
      Email addresses:
    = text_area_tag 'night[invitation_emails]'

  = submit_tag "Send Invites!"
