%h1
  Invite people

= form_tag send_invitations_night_path(@night) do
  %p
    %label{ :for => 'invitation_emails' }
      Email addresses:
    = text_area_tag :invitation_emails

  = submit_tag "Send Invites!"
