body.login #container {
  width: 475px;
  padding-top: 220px;
  background: url(/images/logo.png) no-repeat 50% 0;
}

body.login nav ul {
  height: auto;
  padding: 0;
  background : none;
}
body.login nav a { display:none; }
body.login nav a#logo_link {
  display : inline;
  top     : -159px;
  left    : 167px;
}

body.login h1 {
  margin-bottom: 20px;
  padding-left: 112px;
  font-size: 21px;
}

body.login form .field {
  clear: both;
  zoom: 1;
}

body.login form .field label,
body.users.edit form .field label {
  zoom: 1;
  float: left;
  width: 100px;
  padding-right: 12px;
  line-height: 40px;
  text-align: right;
  text-transform: lowercase;
}

body.login form .field input {
  width: 350px;
}

body.login form .field.password input {
  width: 210px;
}

body.login form .field.password a {
  display: block;
  float: right;
  color: #9260bb;
  font-size: 14px;
  line-height: 45px;
}

body.login form .submit,
body.users.edit form .submit {
  padding-left: 115px;
}

body.login form .submit p {
  float: right;
  color: #9260bb;
  font-size: 14px;
  line-height: 44px;
}

body.login form .submit p a {
  color: #fff;
  text-transform: uppercase;
}

body.login #footer {
  display: none;
}
