ul#navigation {
  height: 148px;
  margin: 0 auto;
  padding: 72px 0 0 315px;
  font-size: 14px;
  background: url(/images/logo.png) no-repeat 0 -65px;
}

ul#navigation li {
  display: inline;
  margin-right: 20px;
}

ul#navigation li a {
  color: #645a68;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.0);
}

ul#navigation:hover li a {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

body.login_or_signup ul#navigation {
  display: none;
}
