@import "/stylesheets/navigation.css";
@import "/stylesheets/forms.css";
@import "/stylesheets/sidebar.css";
@import "/stylesheets/voting.css";

body {
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  background: #000 url(/images/body_background.png) repeat-x;
  background-attachment: fixed;
}

em {
  font-style: italic;
}

#container {
  width: 915px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#main_content {
  float: right;
  width: 540px;
}

#main_content h1 {
  margin-bottom: 0.9em;
  font-size: 42px;
}

#main_content h1 span.movie {
  display: block;
  margin-bottom: 3px;
  font-size: 21px;
}

#main_content h1 span.movie.undecided {
  color: #f00;
  font-weight: bold;
  text-transform: uppercase;
}

#main_content h1 span.time {
  color: #645a68;
}

