body {
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  background: #000 url(/images/body_background.png) repeat-x;
  background-attachment: fixed;
}

em {
  font-style: italic;
}

#container {
  width: 915px;
  margin: 0 auto;
  padding-bottom: 40px;
}


/* NAVIGATION */

ul#navigation {
  height: 148px;
  margin: 0 auto;
  padding: 72px 0 0 315px;
  font-size: 14px;
  background: url(/images/logo.png) no-repeat 0 -65px;
}

ul#navigation li {
  display: inline;
  margin-right: 20px;
}

ul#navigation li a {
  color: #645a68;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.0);
}

ul#navigation:hover li a {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}


/* FORMS */

form fieldset {
  position: relative;
  border-bottom: 1px solid #291c2f;
  padding: 0 0 20px 0;
}

form div.mozilla_is_rubbish {
  height: 20px;
}

form fieldset legend span {
  position: absolute;
  top: 15px;
  left: -150px;
  display: block;
  width: 125px;
  font-size: 24px;
  text-align: right;
}

form .field {
  position: relative;
  margin-bottom: 2px;
}

form .field label {
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
  font-size: 16px;
}

form .field.radio label,
form .field.checkbox label {
  display: inline;
  font-size: 14px;
  padding-left: 0;
}

form .field label a {
  margin-left: 10px;
  color: #664084;
}

form .field input,
form .field textarea {
  border: 0;
  padding: 7px 10px 7px 0;
  font-size: 20px;
  letter-spacing: -0.05em;
  background: #aca7ae;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: background 0.3s linear;
}

form .field textarea {
  height: 4em;
  font-size: 14px;
  letter-spacing: 0;
}

form .field input:focus,
form .field textarea:focus {
  background: #fff;
}

form .field.radio input,
form .field.checkbox input {
  width: auto;
  padding: 0;
}

form .submit {
  padding-top: 30px;
}

form .submit input {
  border: 0;
  padding: 9px 25px;
  color: #fff;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  text-shadow: -1px -1px 1px rgba(0,0,0, 0.7);
  cursor: pointer;
  background: #26123a url(/images/button_background.png) repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

form#new_night {
  width: 580px;
  margin: 0 auto;
}

form#new_night textarea {
  width: 270px;
}

form#new_night .half {
  float: left;
  width: 280px;
}

form#new_night .half.right {
  margin-left: 19px;
}

form .field.movie input {
  width: 450px;
}

form .field.movie a {
  position: absolute;
  top: 10px;
  left: 475px;
  display: block;
  width: 18px;
  height: 18px;
  text-indent: -999em;
  background: url(/images/x_red.png);
}

form #drinks_and_snacks {
  padding-top: 22px;
}

form .field.beer,
form .field.snacks {
  height: 27px;
  padding-left: 62px;
  line-height: 27px;
}

form .field.beer *,
form .field.snacks * {
  vertical-align: middle;
}

form .field.beer input,
form .field.snacks input {
  position: absolute;
  top: 1px;
  left: 0;
}

form .field.beer {
  margin-bottom: 10px;
  background: url(/images/beer.png) no-repeat 30px 0%;
}

form .field.snacks {
  margin-bottom: 20px;
  background: url(/images/fork_and_knife.png) no-repeat 32px 0%;
}

form #bringing_guests {
  padding-top: 15px;
}

form #bringing_guests input {
  float: left;
  width: 1.25em;
  margin-right: 12px;
  text-align: center;
}

form #bringing_guests label {
  position: relative;
  padding-top: 2px;
}

form .field.radio.saved_location label {
  position: relative;
  display: block;
  padding: 5px 0 0 25px;
}

form .field.radio.saved_location input {
  position: absolute;
  top: 0;
  left: 0;
}

form .field.radio.saved_location span {
  display: block;
  padding-top: 4px;
  color: #593b7b;
  font-size: 12px;
}

#when_fields span {
  top: -7px;
}
