@import "/stylesheets/navigation.css";
@import "/stylesheets/forms.css";
@import "/stylesheets/sidebar.css";

body {
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  background: #000 url(/images/body_background.png) repeat-x;
  background-attachment: fixed;
}

em {
  font-style: italic;
}

#container {
  width: 915px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#main_content {
  float: right;
  width: 540px;
}
