@import '/stylesheets/login.css';
@import '/stylesheets/navigation.css';
@import '/stylesheets/forms.css';
@import '/stylesheets/sidebar.css';
@import '/stylesheets/voting.css';
@import '/stylesheets/flash.css';

body {
  color       : #fff;
  font-family : 'museo-slab-1','museo-slab-2', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', arial, sans-serif;
  font-weight : 300;
  background  : #000 url(/images/body_background.png) repeat-x;
}

em { font-style: italic; }

#container {
  position   : relative;
  width      : 915px;
  margin     : 0 auto;
}

#main_content {
  float  : right;
  width  : 540px;
}

#main_content h1 {
  margin-bottom : 0.5em;
  font-size     : 42px;
}

#main_content h1.scheduled_night { margin-bottom: 1em; }

#main_content span.you { color: #f55; }

#main_content h1.scheduled_night a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.0);
}

#main_content h1.scheduled_night a:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#main_content h1 span.movie {
  display: block;
  margin-bottom: 3px;
  font-size: 21px;
}

#main_content h1 span.movie.undecided {
  color: #f00;
  font-weight: bold;
}

#main_content h1 span.time { color: #645a68; }

#main_content p#time_info {
  margin-bottom: 2em;
  font-size: 14px;
}


/* FOOTER ---------------------------------- */

footer {
  padding     : 60px 0 20px 0;
  color       : #fff;
  font-size   : 12px;
  text-align  : center;
  opacity     : 0.5;
}

footer:hover { opacity: 0.9; }

footer p { margin: 0; }

footer a {
  margin-left     : 10px;
  color           : #fff;
  text-decoration : none;
}

footer a span { opacity: 0.5; }
