#sidebar {
  position    : relative;
  float       : left;
  width       : 325px;
  font-family : 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', arial, sans-serif;
  background  : #000;
  z-index     : 2;
  
  border-radius         : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;

  box-shadow         : 0 0 30px rgba(255,255,255, 0.1);  
  -moz-box-shadow    : 0 0 30px rgba(255,255,255, 0.1);
  -webkit-box-shadow : 0 0 40px rgba(255,255,255, 0.1);
}

/* SIDEBAR HEADING -------------------------------------------- */

#sidebar header {
  position     : relative;
  height       : 56px;
  padding-left : 25px;
  line-height  : 56px;
}

#sidebar header span.title { font-size: 24px; }

#sidebar header a.rsvp {
  position: absolute;
  top: 18px;
  display: block;
  height: 18px;
  text-indent: -999em;
}

#sidebar header a.yes {
  right: 60px;
  width: 23px;
  background: url(/images/check_green.png);
}

#sidebar header a.no {
  right: 25px;
  width: 18px;
  background: url(/images/x_red.png);
}

#sidebar header.see_you_there {
  background: #194106;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

#sidebar header.see_you_there a.rsvp,
#sidebar header.maybe_next_time a.rsvp {
  top: 22px;
  height: 10px;
}

#sidebar header.see_you_there a.yes,
#sidebar header.maybe_next_time a.yes {
  right: 45px;
  width: 13px;
  background: url(/images/check_small.png);
}

#sidebar header.see_you_there a.no,
#sidebar header.maybe_next_time a.no {
  right: 25px;
  width: 10px;
  background: url(/images/x_small.png);
}

/* END HEADING */



/* SIDEBAR CONTENT -------------------------------------------- */

.sidebar_content { padding: 20px 25px 25px 25px; }

.sidebar_content h1 {
  margin-bottom: 0.75em;
  font-size: 16px;
}

.sidebar_content p { margin-bottom: 1em; }

.sidebar_content p,
.sidebar_content ul li {
  color: #808080;
  font-size: 12px;
  line-height: 125%;
}

.sidebar_content p.more {
  position: relative;
  left: -25px;
}

.sidebar_content.invitations p.more { margin-bottom: 0; }

.sidebar_content p.more a {
  position: relative;
  display: block;
  width: 275px;
  padding: 6px 25px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.sidebar_content p.more a span.label {
  color: #9f9f9f;
  font-size: 12px;
  font-weight: normal;
}

.sidebar_content p.more a:hover { background: url(/images/sidebar_link_background.png) repeat-x; }

.sidebar_content p.more a img {
  position: absolute;
  top: 6px;
  right: 25px;
}

.sidebar_content p.drinks_and_snacks {
  height: 27px;
  padding-left: 35px;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
}

.sidebar_content p.beer { background: url(/images/beer.png) no-repeat 0% 50%; }

.sidebar_content p.snacks { background: url(/images/fork_and_knife.png) no-repeat 1px 50%; }

.sidebar_content a.add_friend { color: #664084; }
