#voting {
  border-top: 1px solid #1d0f23;
  padding-top: 12px;
}

#voting h2 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

#voting .movie {
  position: relative;
  height: 90px;
  padding-left: 115px;
}

#voting .movie img.movie_image {
  position: absolute;
  top: 0;
  left: 50px;
  width: 46px;
}

#voting .movie h3 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#voting .movie p.more_info {
  font-size: 14px;
}

#voting .movie p.more_info a {
  color: #fff;
  margin-right: 8px;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.0);
  opacity: 0.6;
  -webkit-transition: all 0.25s linear;
}

#voting .movie p.more_info a:hover {
  opacity: 1;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#voting .movie a.vote_for_me {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 23px;
  height: 18px;
  text-indent: -999em;
  background: url(/images/check_white.png) no-repeat;
}

#voting .movie a.vote_for_me.do_not_want {
  cursor: default;
  background: url(/images/x.png) no-repeat;
}

#voting .movie a.vote_for_me.i_choose_you_pikachu {
  cursor: default;
  background: url(/images/check_green.png) no-repeat;
}

#voting .movie .vote_count {
  position: absolute;
  top: 4px;
  left: -28px;
  color: #53b800;
  font-size: 14px;
}
