%footer
  %p
    Brought to you by:
    = link_to 'Jerry N&uuml;mmi <span>@nummi</span>'.html_safe,       "http://twitter.com/nummi", :target => '_blank'
    = link_to 'Matt Yoho <span>@mattyoho</span>'.html_safe,           "http://twitter.com/mattyoho", :target => '_blank'
