#footer
  Brought to you by:
  = link_to 'Jon Distad <span>@jondistad</span>',         "http://twitter.com/jondistad", :rel => 'external'
  = link_to 'Ehren Murdick <span>@rubyprogrammer</span>', "http://twitter.com/rubyprogrammer", :rel => 'external'
  = link_to 'Jerry Nummi <span>@nummi</span>',            "http://twitter.com/nummi", :rel => 'external'
  = link_to 'Matt Yoyo <span>@DigiMatt</span>',           "http://twitter.com/DigiMatt", :rel => 'external'
