#footer
  Brought to you by:
  = link_to 'Jon Distad <span>@jondistad</span>'.html_safe,         "http://twitter.com/jondistad", :rel => 'external'
  = link_to 'Ehren Murdick <span>@rubyprogrammer</span>'.html_safe, "http://twitter.com/rubyprogrammer", :rel => 'external'
  = link_to 'Jerry Nummi <span>@nummi</span>'.html_safe,            "http://twitter.com/nummi", :rel => 'external'
  = link_to 'Matt Yoho <span>@mattyoho</span>'.html_safe,           "http://twitter.com/mattyoho", :rel => 'external'
