%ul#navigation
  %li
    = link_to 'schedule', schedules_path
  %li
    = link_to 'new movie night', new_night_path
  - if logged_in?
    %li
      = link_to 'edit account', edit_user_path(current_user)
    %li
      = link_to 'logout', logout_path

