%ul#navigation
  %li
    = link_to 'schedule', schedule_path
  %li
    = link_to 'new movie night', new_night_path
  - if user_signed_in?
    %li
      = link_to 'edit account', edit_user_registration_path
    %li
      = link_to 'logout', destroy_user_session_path

